{% extends 'passapp/base.html' %}

{% block msg %}
<div class="mt-5">
  <h3 class="text-center alert alert-dark"> Refunds </h3>
</div>
{% endblock msg %}

{% block content %}
<div class="text-justify">
    <p>Returns and Refunds Policy. Thank you for shopping at haanzee.com<br> </p>
    <p>Non-tangible irrevocable goods (“Digital products”)/Ebooks/Courses</p>
    <p>We do not issue refunds for non-tangible irrevocable goods (“digital products”) once the order is confirmed and the product is sent. </p>
    <p>We recommend contacting us for assistance if you experience any issues receiving or downloading our products.</p>
    <p>All Purchase are Final. Join our courses only if you are serious about learning and implementing.</p>
    <p>If you are here just to consume contents and do nothing, please do not waste your valuable time and money. We do not provide refund. But I personally promise that the TRUST & TIME you are investing (forget about money), will be worth it.</p>
    <p>If you have any questions about our Returns and Refunds Policy, please contact us</p>
    <p>By email : info@haanzee.com</p>
</div>
{% endblock content %}