{% extends 'passapp/base.html' %}

{% block msg %}
<div>
  <h3 class="text-center alert alert-success"> (Contact Us) </h3>
</div>
{% endblock msg %}

{% block content %}
<div class="col-sm-8 offset-2">
  <table class="table">
    <tr>
      <td>Facebook </td> <td>:</td><td>Link</td>
    <tr>  
      <td>twitter </td> <td>:</td><td>Link</td>
    </tr>  
      <td>linkedin </td> <td>:</td><td>Link</td>
    <tr>
      <td>instagram</td> <td>:</td><td>Link</td>
    </tr>
  </table>
</div>

{% endblock content %}