<div class="col-sm-12 text-center mt-5 alert alert-dark">
<p>
    <a href="{% url 'about'%} "> About Author </a> ||
    <a href="{% url 'privacy'%} "> Privacy Policy </a> ||
    <a href="{% url 'disclaimer'%} "> Disclaimer </a> ||
    <a href="{% url 'terms'%} "> Terms & Condition </a> || 
    <a href="{% url 'refund'%} "> Refunds </a> || 
    <a href="{% url 'terms'%} "> Copy Rights </a> <br>
</p>
</div>
<div class="col-sm-12 text-center alert alert-light mt-0">
<small> Design & Develop By : Jaswinder Singh +91-98037-00470, +91-81463-87777 E-Mail : haanzee@gmail.com </small>
</div>
